.delete-button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
}

.delete-button:hover .delete-icon-red {
  transform: scale(1.5);
}

.delete-button .delete-icon-red {
  transition: transform 0.3s ease;
  display: inline-block;
  transform-origin: center;
}

.delete-icon-red {
  color: red;
}

.link-hover:hover {
  cursor: pointer;
}
